.main {
    height: 100vm;
}

.main-content {
    padding-left: 10%;
    padding-right: 10%;
}

.search-bar {
    margin-top: 30px;
}

.search-filter-dropdown {
    float: left;
}

.search-form {
    float: left;
}

.search-text-box {
    margin-left: 0px;
}

.create-employee-button {
    margin-top: 15px;
}

.employees-table {
    margin-top: 20px;
}

.light-label {
    color: gray;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px
}

.modal-heading {
    margin-left: 20px;
    margin-top: 20px;
}

.employee-details-row {
    margin-bottom: 10px;
}

.employee-details-edit-buttons {
    margin-right: 20px;
}